In [2]:
%load_ext autoreload
%autoreload 2

In [93]:
import pandas as pd
import pickle
import random
import collections
from tqdm import tqdm
import json
import re
import seaborn as sns
from dime_take_home.utils import get_locations_from_text

# Start to extract locations from news articles

In [5]:
with open("../data/raw/id_english_location_name.pkl", "rb") as f:
    locations_dict_en = pickle.load(f)
with open("../data/raw/id_arabic_location_name.pkl", "rb") as f:
    locations_dict_ar = pickle.load(f)

In [6]:
with open("../data/processed/ar_locations_reversed.pkl", "rb") as f:
    locations_dict_ar_reversed = pickle.load(f)

with open("../data/processed/en_locations_reversed.pkl", "rb") as f:
    locations_dict_en_reversed = pickle.load(f)
    
# Grab reversed location dictionaries

### Define and test location regex

In [7]:
locations_pattern_en = re.compile(r"\b(?:%s)\b" % "|".join(map(re.escape, locations_dict_en_reversed.keys())),re.IGNORECASE)
locations_pattern_ar = re.compile(r"\b(?:%s)\b" % "|".join(map(re.escape, locations_dict_ar_reversed.keys())),re.IGNORECASE)
# Compile regex pattern for matching locations
# Important to add whitespace boundaries (\b) to avoid partial matches

In [8]:
assert locations_pattern_en.findall('Suwayda') == ['Suwayda']
assert locations_pattern_en.findall('Suwayda mosul') == ['Suwayda','mosul']
assert locations_pattern_en.findall('inSuwayda') == []
assert locations_pattern_ar.findall(u'ذهبت إلى صيدا') == [u'صيدا']
assert locations_pattern_ar.findall(u'ذهبت إلى صيدا و طرابلس') == [u'صيدا', u'طرابلس']
# Check if regex patterns work as expected

In [9]:
df_news_en = pd.read_csv("../data/raw/news-articles-eng.csv")
df_news_en['dateTime'] = pd.to_datetime(df_news_en['dateTime'])
df_news_en.sort_values('dateTime', inplace=True)

df_news_ar = pd.read_csv("../data/raw/news-articles-ara.csv")
df_news_ar['dateTime'] = pd.to_datetime(df_news_ar['dateTime'])
df_news_ar.sort_values('dateTime', inplace=True)

# Grab news articles, convert dateTime to datetime object and sort by date

In [10]:
df_news_en.shape[0]

86660

In [11]:
if True:
    df_news_en = df_news_en.iloc[:df_news_en.shape[0]//50, :]
# Grab a subset

In [12]:
df_news_en.shape

(1733, 20)

In [13]:
test_article = df_news_en.iloc[1, :]['body']

get_locations_from_text(test_article, locations_pattern_en, locations_dict_en_reversed)

['iq_an_6', 'iq_an_6', 'jo']

In [14]:
test_article = df_news_ar.iloc[2, :]['body']

get_locations_from_text(test_article, locations_pattern_ar, locations_dict_ar_reversed)

['iq_bg', 'iq_bg', 'iq_bg', 'iq_bg_10', 'iq_bg']

### Define and test risk factor regex

In [15]:
df_risk_factors = pd.read_csv("../data/processed/risk-factors-with-arabic.csv")

In [17]:
df_risk_factors_categories = pd.read_csv("../data/processed/risk_factors_categories_with_arabic.csv")

In [26]:
df_risk_factors_categories.sample(5)

  risk_factor_english risk_factor_arabic                 cluster
6      military junta     المجلس العسكري   political instability
9           displaced               نازح     forced displacement
3           terrorism            الإرهاب  conflicts and violence
4         catastrophe              كارثة                   other
8      slashed export       خفض الصادرات         economic issues

In [ ]:
with open("../data/processed/risk_categories_dict_en.json", "r", encoding="utf-8") as f:
    risk_categories_dict_en = json.load(f)

with open("../data/processed/risk_categories_dict_ar.json", "r", encoding="utf-8") as f:
    risk_categories_dict_ar = json.load(f)
    
# Load back in mappings of terms to clusters

In [20]:
risk_categories_pattern_en = re.compile(r"\b(?:%s)\b" % "|".join(map(re.escape, df_risk_factors_categories['risk_factor_english'])),re.IGNORECASE)
risk_categories_pattern_ar = re.compile(r"\b(?:%s)\b" % "|".join(map(re.escape, df_risk_factors_categories['risk_factor_arabic'])),re.IGNORECASE)

In [29]:
assert risk_categories_pattern_en.findall('There is a risk of catastrophe') == ['catastrophe']
assert risk_categories_pattern_ar.findall(u'هناك خطر من كارثة') == [u'كارثة']
# 'There is a risk of catastrophe' -> 'catastrophe'

In [ ]:
def get_risk_factors_from_text(text, lang = 'en'):
    
    if lang == 'en':
        matches = risk_categories_pattern_en.findall(text)
        return list(map(risk_categories_dict_en.get, matches))
    elif lang == 'ar':
        matches = risk_categories_pattern_ar.findall(text)
        return list(map(risk_categories_dict_ar.get, matches))
    return matches

In [63]:
print(get_risk_factors_from_text('There is risk of catastrophe'))
print(get_risk_factors_from_text(u'هناك خطر من كارثة', lang='ar'))
print(get_risk_factors_from_text('There is risk of catastrophe and slashed export due to the military junta'))

['other']
['other']
['other', 'economic issues', 'political instability']

### Now extract things from news article

In [84]:
test_article = df_news_en.iloc[11]['body']

In [85]:
test_article

'DETROIT (AP) - WHITE SOX 5, TIGERS 1\n\nDETROIT (AP) - Drew Thorpe pitched six scoreless innings and got his first major league win in his third start, pitching Chicago over Detroit.\n\nThorpe (1-1) allowed two hits and four walks while striking out five. The 23-year-old right-hander didn´t get a decision in his debut at Seattle on June 11, then lasted 3 1/3 innings in a 12-5 loss at Arizona on June 16.\n\nA second-round pick by the Yankees in the 2022 amateur draft, Thorpe was dealt to San Diego in the December trade that brought Juan Soto to New York, then was traded to Chicago in March as part of a package for right-hander Dylan Cease.\n\nKorey Lee homered, Nicky Lopez had three hits and an RBI, and Andrew Vaughn, Paul DeJong and Lenyn Sosa drove in runs as the major league-worst White Sox (21-57) stopped a three-game losing streak.\n\nJustin Anderson, John Brebbia and Michael Kopech pitched an inning each, with Brebbia allowing Mark Canha´s RBI groundout in the eighth.\n\nChicago White Sox pitcher Drew Thorpe (33) throws against the Detroit Tigers in the fourth inning of a baseball game, Saturday, June 22, 2024, in Detroit. (AP Photo/Paul Sancya)\n\nDetroit (35-41) has lost five of six, scoring six runs during that span.\n\nCARDINALS 9, GIANTS 4\n\nST. LOUIS (AP) - Alec Burleson had a career-high five RBIs with his first multi-homer game and St. Louis overcame a three-run, first-inning deficit to beat San Francisco and move back over .500.\n\nPaul Goldschmidt and Brendan Donovan also homered for the Cardinals, who at 38-37 matched their season high of one game over .500. They were also 5-4 and 36-35.\n\nBurleson hit a three-run homer in the fourth off Jordan Hicks for a 5-4 lead and a two-run drive against Sean Hjelle in the sixth, his 12th home run this season. The top three batters in the Cardinals´ order were 7 for 14 with three homers and eight RBIs.\n\nFacing his original team for the first time, Hicks (4-4) allowed a career-high five earned runs, six hits and three walks in four innings. The 27-year-old right-hander was traded to Toronto last July 30, then became a free agent and signed a $44 million, four-year contract with the Giants.\n\nSan Francisco has lost four straight and six of seven.\n\nCUBS 8, METS 1\n\nCHICAGO (AP) - Jameson Taillon pitched seven crisp innings, Christopher Morel homered and Chicago cooled off New York with a victory.\n\nTaillon struck out a season-high 10 in his first win since May 4. The right-hander allowed one run and six hits.\n\nNew York averaged 6.6 runs and 10.3 hits while going 12-3 in its previous 15 games, including an 11-1 victory in the series opener on Friday. But it was held in check by Taillon (4-3) and two relievers on a hot afternoon at Wrigley Field.\n\nFrancisco Alvarez homered for the second straight day for New York, and J.D. Martinez had two of the team´s seven hits. Tylor Megill (2-4) lasted just three innings in his worst start of the season.\n\nThe Cubs grabbed control with five runs in the first. Morel singled home Seiya Suzuki and scored on Dansby Swanson´s double. Pete Crow-Armstrong capped the fast start with a standup triple into the corner in right, driving in Swanson.\n\nMorel made it 6-0 with a 446-foot drive to center in the third. It was Morel´s team-high 14th homer.\n\nPIRATES 4, RAYS 3\n\nPITTSBURGH (AP) - Jared Jones struck out eight, Oneil Cruz homered into the Allegheny River and Pittsburgh beat Tampa Bay Rays.\n\nJones (5-6) overcame some early control issues to allow two runs over seven solid innings to bounce back from a pair of recent shaky starts.\n\nThe 22-year-old right-hander hit Brandon Lowe and Amed Rosario in the first inning, catching Rosario´s helmet with a 99 mph fastball that forced the third baseman to exit with facial lacerations. Jones then settled down.\n\nAroldis Chapman gave up an RBI double to Yandy Díaz with two outs in the ninth but got Isaac Paredes to ground out and got his second save.\n\nASTROS 5, ORIOLES 1\n\nHOUSTON (AP) - Ronel Blanco pitched seven strong innings and Chas McCormick homered twice to lead Houston to a win over Baltimore.\n\nYordan Alvarez added a two-run shot to help Houston extend its winning streak to four games.\n\nBlanco (8-2), who threw seven hitless innings in his last start, allowed four hits and a run with three strikeouts for his third straight win.\n\nAlvarez put the Astros on top with his 16th homer, which came off Corbin Burnes (8-3) in the third, and McCormick made it 4-1 in the fifth. McCormick got his fifth career multihomer game when he connected again in the eighth.\n\nBurnes allowed five hits, including a season-high two homers and a season-most four runs in seven innings to snap his career-best streak of 10 consecutive quality starts. He was 5-0 in seven starts since a loss at Washington on May 7.\n\nRANGERS 6, ROYALS 0\n\nARLINGTON, Texas (AP) - Jon Gray allowed two hits over five innings to rebound from his worst major league start and Wyatt Langford hit an eighth-inning grand slam that led Texas over Kansas City.\n\nGray (3-3) gave up back-to-back third-inning singles while throwing 51 of 72 pitches for strikes. He gave nine earned runs and 11 hits in three innings-plus last Monday in a 14-2 loss to the New York Mets.\n\nLangford, a rookie who debuted on opening day, connected off Angel Zerpa for the Rangers´ first grand slam this season.\n\nWorld Series champion Texas has won three straight following a five-game losing streak. Kansas City has lost 10 of 13, scoring 36 runs in those games.\n\nGUARDIANS 6, BLUE JAYS 3\n\nCLEVELAND (AP) - José Ramírez and Bo Naylor hit two-run homers and Steven Kwan added a solo shot while pushing his average back near .400, leading Cleveland to a win over Toronto.\n\nAll three homers came off José Berríos (6-6) as the AL Central-leading Guardians (48-26) moved 22 games over. 500 for the first time this season.\n\nRookie Daniel Schneemann also homered for Cleveland, which has 86 homers in 74 games after hitting just 48 at the same point a year ago.\n\nIsiah Kiner-Falefa homered twice and Davis Schneider connected for Toronto, which lost its fifth game in a row.\n\nPHILLIES 12, DIAMONDBACKS 1\n\nPHILADELPHIA (AP) - Zack Wheeler allowed only one run and two hits in seven innings of work Saturday while Bryce Harper, Alec Bohm, Nick Castellanos and David Dahl all homered as Philadelphia cruised to a 1win over Arizona.\n\nThe win allowed the Phillies to be the first National League team to record 50 wins with a 50-26 record. The New York Yankees have 51 wins entering a Saturday night game against the Braves to lead the majors as the season´s halfway point approaches.\n\nCastellanos had a season-high five RBIs and hit his second homer in as many days in the victory. Harper added three RBIs and hit his 18th of the season into the second deck in right field in the third inning during a 4-for-5 day at the plate. Bohm followed Harper´s shot with his eight of the second to left-center field.\n\nThe top five spots in the Phillies starting batting order - Kyle Schwarber, Trea Turner, Harper, Bohm and Castellanos - were a combined 10-for-19 with 10 runs scored and 10 RBIs on the afternoon as Philadelphia scored double figures in runs for a game for the fifth time this season. Most of the damage was done against Arizona starter Tommy Henry (2-3).\n\nMARINERS 9, MARLINS 0\n\nMIAMI (AP) - Logan Gilbert pitched eight scoreless innings for the second straight start and Seattle beat Miami.\n\nGilbert (5-4) scattered four hits, struck out six and was aided by three double-play grounders, lowering his ERA to 2.71. The 27-year-old right-hander walked one, ending a string of three straight outings without allowing a base on balls.\n\nDominic Canzone tied his career high of four hits with a homer and three singles, scoring three runs. Ryan Bliss doubled twice and singled for the Mariners, who stopped a three-game skid. Dylan Moore had two doubles among Seattle´s seven extra-base hits.\n\nCanzone, Moore and Bliss, the bottom three in Seattle´s batting order, combined to go 9 for 14 with six runs and five RBIs.\n\nMiami had won its previous three games, all walk-offs.\n\nTWINS 10, ATHLETICS 2\n\nOAKLAND, Calif. (AP) - Bailey Ober struck out 10 in a four-hitter for his first career complete game and Minnesota used a seven-run second inning to rout Oakland Athletics.\n\nOber (7-4) needed just 89 pitches to finish the game while tying a career high in strikeouts and walking none. He allowed two runs on solo homers by JJ Bleday and Tyler Soderstrom in the first two innings.\n\nManuel Margot hit a three-run homer in Minnesota´s big inning against JP Sears (4-7). Jose Miranda and Carlos Correa each had three hits for the Twins, who snapped a three-game skid.\n\nThe A´s had won three of four before Saturday´s defeat in front of an announced crowd of 9,299.\n\nRED SOX 4, REDS 3\n\nCINCINNATI (AP) - Rafael Devers drove in the go-ahead run with a sacrifice fly in the eighth inning and Jarren Duran made a game-saving defensive play in the ninth as the Boston Red Sox rallied to beat the Cincinnati Reds 4-3 on Saturday.\n\nPinch-hitter Rob Refsnyder singled home the tying run before Duran tagged on Devers´ fly ball and slid home just ahead of left fielder Stuart Fairchild´s throw.\n\nKenley Jansen retired the Reds in the ninth for his 14th save in 15 chances. He got a huge assist from Duran, who leaped to get his glove above the center field fence to rob Fairchild of a tying home run.\n\nJansen´s save was his 434th, and he moved ahead of Baltimore´ Craig Kimbrel into sole possession of fifth on the career list.'

In [86]:
get_locations_from_text(test_article,locations_lookup=locations_dict_en_reversed, locations_pattern=locations_pattern_en)

['iq_an_6',
 'jo',
 'iq_an_6',
 'iq_an_6',
 'iq_an_6',
 'iq_an_6',
 'iq_an_6',
 'iq_an_6']

In [ ]:
matches = []

while len(matches) == 0:
    test_article = df_news_en.sample(1).iloc[0]['body']
    matches = get_risk_factors_from_text(test_article.lower())

In [89]:
matches

['other', 'other']

In [90]:
df_news_en.head()

,uri,lang,isDuplicate,date,time,dateTime,dateTimePub,dataType,sim,url,title,body,source,authors,image,eventUri,sentiment,wgt,relevance,userHasPermissions
15273,8190770956,eng,False,2024-06-23,00:00:16,2024-06-23 00:00:16+00:00,2024-06-22T23:58:12Z,news,0.000000,https://www.ringtv.com/674552-jordan-panthen-k...,Jordan Panthen knocks out Victor Toney in thre...,Jordan Panthen continues to score knockout win...,"{'uri': 'ringtv.com', 'dataType': 'news', 'tit...","[{'uri': 'francisco_salazar@ringtv.com', 'name...",https://www.ringtv.com/wp-content/uploads/2024...,NaN,-0.074510,53,53,NaN
86659,8190773147,eng,False,2024-06-23,00:03:50,2024-06-23 00:03:50+00:00,2024-06-23T00:01:55Z,news,0.686275,https://www.reformer.com/ap/sports/ram-rez-kwa...,"Ramírez, Kwan homer as AL Central-leading Guar...",CLEVELAND (AP) -- José Ramírez and Bo Naylor h...,"{'uri': 'reformer.com', 'dataType': 'news', 't...","[{'uri': 'tom_withers@reformer.com', 'name': '...",https://bloximages.newyork1.vip.townnews.com/r...,eng-9672706,0.184314,1,1,NaN
18870,8190775869,eng,False,2024-06-23,00:07:49,2024-06-23 00:07:49+00:00,2024-06-23T00:06:20Z,news,0.501961,https://www.yahoo.com/news/community-members-s...,Community members step up to help during storm...,Jun. 22 -- MITCHELL -- While the two-day rains...,"{'uri': 'yahoo.com', 'dataType': 'news', 'titl...",[],https://s.yimg.com/cv/apiv2/social/images/yaho...,eng-9669354,0.184314,52,52,NaN
6351,2024-06-398429595,eng,False,2024-06-23,00:08:25,2024-06-23 00:08:25+00:00,2024-06-23T00:08:19Z,news,0.717647,https://www.iranintl.com/en/202406216837,Iran Warns Israel Against Waging War on Lebanon,Iran's mission to the UN in New York warned Is...,"{'uri': 'iranintl.com', 'dataType': 'news', 't...",[],https://i.iranintl.com/images/rdk9umy0/product...,eng-9669018,-0.403922,106,106,NaN
36361,2024-06-398429564,eng,False,2024-06-23,00:08:25,2024-06-23 00:08:25+00:00,2024-06-22T23:42:48Z,news,0.000000,https://clutchpoints.com/blue-jays-news-jordan...,Blue Jays' Jordan Romano dealt unfortunate inj...,Toronto's two-time All-Star closer continues t...,"{'uri': 'clutchpoints.com', 'dataType': 'news'...","[{'uri': 'peter_sampson@clutchpoints.com', 'na...",https://wp.clutchpoints.com/wp-content/uploads...,NaN,0.121569,4,4,NaN

In [94]:
tqdm.pandas()
df_news_en['risk_factors'] = df_news_en['body'].progress_apply(get_risk_factors_from_text)

100%|██████████| 1733/1733 [00:00<00:00, 3102.62it/s]

In [97]:
tqdm.pandas()
df_news_en['locations'] = df_news_en['body'].progress_apply(lambda x: get_locations_from_text(x,locations_lookup=locations_dict_en_reversed, locations_pattern=locations_pattern_en))

100%|██████████| 1733/1733 [00:13<00:00, 128.60it/s]

In [99]:
df_news_en[['locations', 'risk_factors']].head(10)

                                               locations risk_factors
15273                                               [jo]           []
86659                             [iq_an_6, iq_an_6, jo]           []
18870                                      [jo, iq_an_6]           []
6351                      [lb, lb, lb, ps_gz_2, ps_gz_2]           []
36361                                           [jo, jo]           []
86658                                               [jo]           []
53068                                      [ps_gz_2, jo]           []
32891                      [ps_gz_2, ps, ps, ps, ps, ps]      [other]
10735  [ps_gz_2, ps_gz_5, ps_gz_2, ps_gz_5, ps_gz_2, ...           []
86657                             [iq_an_6, iq_an_6, jo]           []